:root { 
--gray_900_75:#14141475; 
--blue_gray_100_01:#cccccc; 
--blue_gray_100_02:#d0d0d0; 
--white_A700_90:#ffffff90; 
--white_A700_99:#ffffff99; 
--white_A700_75:#ffffff75; 
--black_900:#000000; 
--gray_500_01:#a5a5a5; 
--yellow_900:#f47521; 
--blue_gray_900:#2f2f2f; 
--gray_600:#7c7c7c; 
--gray_400:#c9c9c9; 
--blue_gray_100:#cecece; 
--gray_500:#979797; 
--gray_600_01:#787878; 
--blue_gray_400:#8b8989; 
--gray_900:#141414; 
--gray_300:#e3e3de; 
--white_A700_87:#ffffff87; 
--yellow_900_87:#f4752187; 
--gray_400_01:#b3b3b3; 
--gray_400_02:#b4b4b4; 
--lime_900_7f:#7131077f; 
--yellow_900_7e:#f475217e; 
--white_A700:#ffffff; 
}